.give-form-wrap {
	h2 {
		border-bottom: 1px solid $black;

	}

	.goal-progress {

		.raised {
			.income {
				font: $font_size-6 $light;
			}

			.goal-text {

			}
		}

		.progress-bar {
			background-color: $white;
			height: 4px;
			@include border-radius(0);
		}
	}

	div.give-form-content-wrap {
		margin-bottom: 60px;

		ul {

			li {
				padding: 6px 0;
				line-height: 1.3em;
			}
		}
	}
}




form.give-form {
	legend {
		font: $font_size-3 $bold;
		color: $black;
		margin: 0 0 20px -5px;
		padding: 0 5px;
		background-color: $warm-gray;
		border: none;
		border-bottom: 1px solid $black-transparent;
	}

	legend:first-of-type {
		margin-top: -13px;
		border: none;
		width: auto;
	}

	label {
		font: normal $font_size-2 $bold;
	}

	fieldset {
		border: 1px solid $black-transparent;
		@include border-radius(10px);
		margin-top: 30px;
		padding: 0 25px 0 25px;
	}

	p.form-row {
		margin-bottom: 25px;
	}

	p.give-loading-text {
		font: normal $font_size-2 $bold;
		font-style: normal;
		padding-bottom: 20px;
	}

	p.give-loading-text.give-updating-price-loader {
		position: absolute;
		right: 20px;
		margin-top: 15px;
	}

	.give-loading-animation {
		
	}

	.blockUI.blockOverlay {
		background-color: $warm-gray !important;
	}

	.give-donation-amount {
		border-bottom: 1px solid $black-transparent;

		.give-currency-symbol {
			width: 50px;
			height: 50px;
			background-color: $black;
			font: $font_size-5 $light;
			color: $white;
			text-align: center;
			border: none;
			padding-top: 7px;
		}

		#give-amount  {
			font: $font_size-5 $regular;
			height: 50px;
			border: none;
			border-top: 1px solid $white;
			border-right: 1px solid $white;
			width: calc(100% - 50px);

			&:focus {
				border-top: 1px solid $black-transparent;
				border-right: 1px solid $black-transparent;
				outline: none;
			}
		}

		#give-amount-text {
			font: $font_size-5 $regular;
			height: 50px;
			padding-top: 6px;
			text-align: center;
			border-color: $black-transparent;
			border-bottom: none;
			width: calc(100% - 50px);
		}

	}

	#give-donation-level-radio-list {
		@include flex();
		@include justify-content(space-between);
		margin-bottom: 50px;
	}

	#give-donation-level-button-wrap {
		margin-bottom: 60px;

		li {
			padding-left: 0;
			padding-right: 15px;
			min-width: 200px;
			width: 32%;

			button {
				background-color: $black-transparent-light;
				color: $black;
				width: 100%;

				&:hover {
					background-color: $black;
					color: $white;
				}
			}
		}
	}

	#give-gateway-radio-list {
		@include flex();
		@include justify-content(space-around);
		float: none;

		& > li {
			float: none;
		}
	}
	#give_offline_payment_info {
		background-color: $black-transparent-opaque;
		border: none;
		padding: 25px;
		color: $warm-gray;
	}

	#give_purchase_submit {
		margin-top: 40px;
		padding: 0;
		border: none;

		fieldset#give_mailchimp {
			margin-top: 0;
			margin-bottom: 45px;
			padding-top: 10px;
			padding-bottom: 10px;

			p {
				margin-bottom: 0;
			}

		}
		
		#give-final-total-wrap {
			@include inblock(calc(66.66% + 20px));
			margin: 0 -5px 0 0;
			@include border-radius(10px 0 0 10px);
			border: 2px solid $black;
			border-right: none;
			
			.give-donation-total-label {
				font: normal $font_size-2 $bold;
				padding-top: 20px;
				background-color: transparent;
				min-height: 50px;
				color: $black;
				border: none;
			}

			.give-final-total-amount {
				font: $font_size-5 $regular;
				color: $black;
				padding-top: 6px;
				border: none;
				min-height: 50px;

			}
		}

		.give-submit-button-wrap {
			@include inblock(33.33%);
			margin-left: -20px;

			.give-submit {
				@include border-radius(10px);
				font: $font_size-3 $regular;
				padding: 12px;
				height: 54px;
				width: 100%;
				border: 2px solid $black;
			}
		}
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		border: none;
		background-color: $black;
		color: $white;
		font: $font_size-2 $regular;
		padding: 10px;
		min-width: 200px;
		width: 50%;
		text-shadow: none;
		@include box-shadow(none);
		@include transition-duration(0.25s);
		@include border-radius(3px);

		&:hover {
			background-color: $black-transparent-light;
			@include transition-duration(0.25s);
			color: $black;
		}
	}

	::-webkit-input-placeholder {
	   color: transparent;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: transparent;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: transparent;
	}

	:-ms-input-placeholder {  
	   color: transparent;
	}
}

table.give-table {
	background-color: transparent;
	border-color: $black-transparent;
	text-shadow: none;
	font-size: $font_size-2;
	color: $black;
	text-align: left;

	th {
		background-color: $black;
		border-color: $black-transparent;
		font: normal $font_size-2 $regular;
		color: $warm-gray;
		text-align: left;
		border-color: $warm-gray;
		padding: 18px;
	}

	tbody {
		tr {
			td {
				background-color: transparent;
				border-color: $black-transparent;
				text-align: left;
			}
		}

		tr:nth-child(even) td {
			background-color: transparent;
		}
	}
}

