input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

::-webkit-input-placeholder {
   color: $black-transparent;
}

:-moz-placeholder { /* Firefox 18- */
   color: $black-transparent;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $black-transparent;  
}

:-ms-input-placeholder {  
   color: $black-transparent;  
}