# Ignore all files
/*

# Except files
!.gitignore
!README.md
!composer.json

# Folders
!wp-content/
wp-content/*
!wp-content/plugins/
!wp-content/themes/rebuild-foundation/
!wp-content/themes/rebuild-foundation/*
!wp-content/themes/rebuild-foundation/**

# Ignore all these
*.DS_Store
*.log
*.bak
*.zip
*.tar
*.log
*.sass-cache