$color__background-body: #E9E6DF;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: rgba(0,0,0,0.5);
$color__link-visited: #000000;
$color__link-hover: rgba(0,0,0,1);
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$warm-gray: rgba(233,230,223,1);
$warm-gray-opaque: rgba(233,230,223,0.95);

$black-transparent-light: rgba(0,0,0,0.25);
$black-transparent: rgba(0,0,0,0.5);
$black-transparent-opaque: rgba(0,0,0,0.75);
$black-transparent-dark: rgba(0,0,0,0.85);
$black: rgba(0,0,0,1);

$white-transparent-light: rgba(255,255,255,0.25);
$white-transparent: rgba(255,255,255,0.5);
$white-transparent-opaque: rgba(255,255,255,0.75);
$white: rgba(255,255,255,1);

$color__siab: rgb(100,144,232);
$color__dorchester: rgb(194,144,127);
$color__da-hc: rgb(255,103,77);
$color__bch: rgb(255,177,17);


