
// Widths

$size__navigation: 220px;
$size__subnavigation: 180px;

$size__left-margin: 60px;
$size__right-margin: $size__subnavigation;

$size__site-main-full: calc(100% - #{$size__navigation});
$size__site-main-full-2: calc(100% - #{$size__navigation} - #{$size__left-margin});

$size__site-main-flush: calc(100% - #{$size__navigation} - #{$size__subnavigation});
$size__site-main-center: calc(100% - #{$size__navigation} - #{$size__subnavigation} - #{$size__right-margin});

$size__site-main-nested: calc(100% - #{$size__subnavigation});
$size__site-main-center-2: calc(100% - #{$size__left-margin});


// Alignments

$align__site-1: $size__left-margin;
$align__site-2: $size__navigation;
$align__site-3: $size__subnavigation;
$align__site-4: calc(#{$size__navigation} + #{$size__subnavigation});


// Mobile 

$size__mobile-margins: 80px;
$size__mobile-margins-right: 30px;
$size__mobile-main: calc(100% - #{$size__mobile-margins});
$size__mobile-main-nested: calc(100% - #{$size__mobile-margins-right});
$size__mobile-main-center: calc(100% - #{$size__mobile-margins} - #{$size__mobile-margins-right});