img.alignnone, figure.alignnone {
	max-width: 100%;
	padding: 1.5em 0;
	margin: 0;
}

img.aligncenter, figure.aligncenter {
	max-width: 100%;
	padding: 1.5em 0;
	margin: 0;
}

img.alignleft, figure.alignleft {
	max-width: 50%;
	float: left;
	margin: 0;
	padding: 0 2em 2em 0;
}

img.alignright, figure.alignright{
	max-width: 50%;
	float: right;
	margin: 0;
	padding: 0 0 2em 2em;
}