ul.social-links {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		float: right;
		padding-left: 20px;

		a {
			display: block;
			width: 30px;
			height: 30px;
			opacity: 1;
			@include transition-duration(0.25s);		

			&.social-instagram {
				background-image: url('img/sm-icon_instagram.svg');
			}

			&.social-flickr {
				background-image: url('img/sm-icon_flickr.svg');				
			}

			&.social-vimeo {
				background-image: url('img/sm-icon_vimeo.svg');				
			}

			&.social-twitter {
				background-image: url('img/sm-icon_twitter.svg');				
			}

			&.social-facebook {
				background-image: url('img/sm-icon_facebook.svg');				
			}

			&:hover {
				opacity: 0.25;
				@include transition-duration(0.25s);
			}
		}
	}
}

.sharedaddy {
	ul {
		list-style-type: none;
		padding: 0;

		li {
			a {
				display: block;
				width: 30px;
				height: 30px;
				background-size: contain;
				background-repeat: no-repeat;
				border: none;

				span {
					display: none;
				}
			}

			&.share-facebook a {
				background-image: url('img/sm-icon_facebook.svg');
			}

			&.share-twitter a {
				background-image: url('img/sm-icon_twitter.svg');
			}
		}
	}
}