ul.social-links {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		float: right;
		padding-left: 20px;

		a {
			display: block;
			width: 30px;
			height: 30px;
			opacity: 1;
			@include transition-duration(0.25s);		

			&.social-instagram {
				background-image: url('img/sm-icon_instagram.svg');
			}

			&.social-flickr {
				background-image: url('img/sm-icon_flickr.svg');				
			}

			&.social-vimeo {
				background-image: url('img/sm-icon_vimeo.svg');				
			}

			&.social-twitter {
				background-image: url('img/sm-icon_twitter.svg');				
			}

			&.social-facebook {
				background-image: url('img/sm-icon_facebook.svg');				
			}

			&:hover {
				opacity: 0.25;
				@include transition-duration(0.25s);
			}
		}
	}
}

.sharedaddy {
	.sd-title {
		text-transform: uppercase;
		margin: 11px 30px;
		font-size: $font_size-2;
		letter-spacing: 0.05em;
		opacity: 0.3;
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			float: left;
			margin-right: 30px;
			padding-left: 0;
			padding-top: 0;

			a {
				display: block;
				min-width: 25px;
				height: 25px;
				background-size: contain;
				background-repeat: no-repeat;
				border: none;
				opacity: 0.3;
				padding-top: 3px;
				font-family: $bold;


				&:hover {
					background-color: transparent;
					opacity: 1;
				}

				span {
					padding-left: 40px;
				}
			}

			&.share-facebook a {
				background-image: url('img/sm-icon_facebook.svg');
			}

			&.share-twitter a {
				background-image: url('img/sm-icon_twitter.svg');
			}
		}
	}
}