.single-event {

	#main {
		width: $size__site-main-nested;
		left: $align__site-3;
		position: relative;
	}

	.filters {
		position: relative;
		width: 100%;
		left: 0;
	}

	.sharedaddy {
		margin-top: -5px;
		float: right;

		.sd-title {
			display: none;
		}

		ul li {
			float: none;
			margin-right: 0;
			margin-bottom: 15px;

			a span {
				display: none;
			}
		}
	}

	article {
		width: $size__site-main-nested;
		margin-top: 30px;
		border: 1px solid $black-transparent-light;
		padding: 50px 0 30px;

		header {
			padding-bottom: 30px;
		}

		h2.site-name {
			@include inblock(35%);
			padding: 0 0 0 5%;
			margin-top: 0;
			line-height: 16px;


			.meta {


				a {
					font: $font_size-2 $regular;
					@include heading-link();

					label {
						text-transform: lowercase;
					}
				}
			}
		}

		h1.entry-title {
			@include inblock(55%);
			margin-left: -4px;
			margin-top: 0;
			padding: 0 5% 0 5%;
			font: $font_size-3 $bold;
		}

		h3.event-date {
			@include inblock(10%);
			margin-left: -4px;
			margin-top: 5px;
			padding: 0 0 0 0;
			font: $font_size-2 $bold;
		}

		.single-image {
			@include inblock(35%);
			padding: 0 2.5% 0 5%;
			margin: 0;

			.entry-thumbnail {
				margin: 0;
			}
		}

		.gallery-static {
			@include inblock(35%);
			padding: 0 2.5% 0 5%;
			margin: 0;

			figure {
				margin: 0 0 40px 0;
			}
		}

		#details {
			@include inblock(65%);
			margin-left: -4px;
			padding: 0 5% 0 5%;

			.event-date, .event-time, .event-export, .location {
				font: 14px $mono;
				padding-bottom: 6px;
			}

			.event-date {
				&::before {
					@include rule(2px, $black);
				}
			}

			.entry-meta {
				margin-top: 50px;

				&::before {
					@include rule(2px, $black);
				}
			}

			.location {
				padding-bottom: 0;
				
				span {
					padding-bottom: 6px;
				}

				
			}

			.google-map-link {
				margin-top: 0;

				a {
				}
			}

			.meta {
				font: 14px $mono;
				padding-bottom: 6px;

				a {
					@include text-link();
				}
			}

		}


		.description {
			margin-top: 35px;
		}
	}

	.post-navigation {
		width: $size__site-main-nested;
	}
}


@media (max-width: 1200px) {
	.single-event {
		article {
			width: $size__site-main-center-2;
		}

		.post-navigation {
			width: $size__site-main-center-2;
		}
	}	
}



@media (max-width: 1024px) {
	.single-event {
		#main {
			left: 0;
			width: 100%;
		}
	}
}