.post-type-archive-event, .tax-event_category, .tax-event_tag {

	.posts-list {
		width: $size__site-main-nested;
		position: relative;
		left: $align__site-3;
		margin-top: 188px;
	}

	article {
		border: 1px solid $black-transparent-light;
		width: $size__site-main-nested;
		margin-bottom: 10px;
		min-height: 200px;
		@include transition-duration(0.5s);

		.site-name {
			@include inblock(35%);
			padding: 40px 30px 0 40px;
			text-transform: uppercase;
			letter-spacing: 0.1em;

			a {
				font: $font_size-4 $light;
				text-decoration: none;
				color: $black;

				em, cite, i, dfn {
					font-family: $light-i;
					font-weight: normal;
					font-style: normal;
				}

				label {
					font: $font_size-2 $regular;
					letter-spacing: 0.1em;
					padding-left: 2px;
				}
			}
		}

		.event-title {
			@include inblock(45%);
			margin-left: -4px;
			margin-top: 50px;
			padding-right: 40px;
			padding-left: 30px;
			font: normal $font-size-2 $bold;


			a {
				color: $black;
				text-decoration: none;
			}
		}

		.event-date {
			@include inblock(20%);
			margin-left: -4px;
			min-height: 200px;

			&::before {
				content: "\00a0";
				position: relative;
				display: block;
				width: 100%;
				height: 200px;
				background-color: $warm-gray;
			}

			time {
				font: normal $font-size-2 $bold;
				position: relative;
				margin: -150px auto 0 auto;
				z-index: 1;
				display: block;
				width: 55px;
			}
		}

		&:hover {
			width: 100%;
			background-color: $black-transparent;
			@include transition-duration(0.5s);

			.site-name a {
				color: $warm-gray;
				@include transition-duration(0.25s);

				&:hover {
					color: $black;
					@include transition-duration(0.25s);
				}
			}

			.event-title {
				width: 35%;

				a {
					color: $warm-gray;
					@include transition-duration(0.25s);

					&:hover {
						color: $black;
						@include transition-duration(0.25s);
					}
				}
			}

			.event-date {
				width: 30%;
				@include background-size(cover);

				&::before {
					background-color: $black-transparent-light;
				}

				time {
					color: $warm-gray;
				}
			}
		}

		&#no-results {
			border: none;
			margin-top: 145px;

			.no-posts {
				font: $font_size-4 $regular;
			}

			&:hover {
				width: $size__site-main-nested;
				background-color: transparent;
			}
		}
	}

}

@media (max-width: 1200px) {
	.post-type-archive-event, .tax-event_category, .tax-event_tag {
		article {
			width: $size__site-main-center-2;
		}
	}	
}


@media (max-width: 1024px) {
	.post-type-archive-event, .tax-event_category, .tax-event_tag {
		.posts-list {
			left: 0;
			width: 100%;
		}
	}
}