.post-type-archive-event, .tax-event_category, .tax-event_tag {

	.posts-list {
		width: $size__site-main-nested;
		position: relative;
		left: $align__site-3;
		margin-top: 188px;
	}

	article {
		border: 1px solid $black-transparent-light;
		width: $size__site-main-nested;
		margin-bottom: 10px;
		min-height: 200px;
		@include transition-duration(0.5s);

		&::before {
			position: absolute;
			padding: 8px 40px 6px 40px;
			font: $font_size-1 $bold;
			color: $black-transparent;
			letter-spacing: 0.1em;
			border-bottom: 1px solid $black-transparent-light;
			border-right: 1px solid $black-transparent-light;

		}

		&.upcoming::before {
			content: "UPCOMING";
		}

		&.past::before {
			content: "PAST";
		}

		.entry-main {
			@include inblock(80%);

			.site-name {
				@include inblock(35%);
				padding: 60px 30px 0 40px;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				line-height: 1.1em;

				a {
					font: $font_size-2 $regular;
					letter-spacing: 0.1em;
				}
			}

			.event-title {
				@include inblock(65%);
				margin-left: -4px;
				margin-top: 55px;
				padding-right: 40px;
				padding-left: 30px;
				font: normal $font-size-3 $bold;


				a {
					color: $black;
					text-decoration: none;
				}
			}

			.entry-excerpt {
				display: none;
				padding: 15px 20px 0 40px;

					p {
						color: $warm-gray;
						font: normal $font-size-2 $light;
						letter-spacing: 0.01em;
						line-height: 1.4em;

						a.read-more {
							text-decoration: underline;
							color: $warm-gray;

							&:hover {
								text-decoration: none;
							}
						}
					}
			}
		}


		.event-date {
			@include inblock(20%);
			margin-left: -4px;
			min-height: 200px;

			&::before {
				content: "\00a0";
				position: relative;
				display: block;
				width: 100%;
				height: 200px;
				background-color: $warm-gray;
			}

			time {
				font: normal $font-size-2 $bold;
				position: relative;
				margin: -140px auto 0 auto;
				z-index: 1;
				display: block;
				width: 55px;
			}
		}

		&:hover {
			width: 100%;
			background-color: $black-transparent-opaque;
			@include transition-duration(0.5s);

			&::before {
				background-color: $warm-gray;
				color: $black-transparent-opaque;
				border: none;
			}

			.entry-main {
				width: 70%;

				.site-name a {
					color: $warm-gray;
					@include transition-duration(0.25s);

					&:hover {
						color: $warm-gray-transparent;
						@include transition-duration(0.25s);
					}
				}

				.event-title {

					a {
						color: $warm-gray;
						@include transition-duration(0.25s);
						font: normal $font-size-3 $regular;

						&:hover {
							color: $warm-gray-transparent;
							@include transition-duration(0.25s);
						}
					}
				}

				.entry-excerpt {
					display: block;

				}
			}

			.event-date {
				width: 30%;
				@include background-size(cover);
				height: 300px;

				&::before {
					background-color: $black-transparent-light;
					height: 300px;
				}

				time {
					color: $warm-gray;
					margin-top: -240px;
				}
			}
		}

		&#no-results {
			border: none;
			margin-top: 145px;

			.no-posts {
				font: $font_size-4 $regular;
			}

			&:hover {
				width: $size__site-main-nested;
				background-color: transparent;
			}
		}
	}

}

@media (max-width: 1200px) {
	.post-type-archive-event, .tax-event_category, .tax-event_tag {
		article {
			width: $size__site-main-center-2;

			&:hover {
				.event-date {
					height: 350px;

					&::before {
						height: 350px;
					}

					time {
						margin-top: -290px;
					}
				}
			}
		}
	}	
}


@media (max-width: 1024px) {
	.post-type-archive-event, .tax-event_category, .tax-event_tag {
		.posts-list {
			left: 0;
			width: 100%;
			margin-top: 215px;
		}
	}
}