.post-type-archive-event {
	padding-top: 50px;

	.posts-list {
		width: $size__site-main-nested;
		position: relative;
		left: $align__site-3;
		margin-top: 100px;
	}

	article {
		border: 1px solid $black-transparent-light;
		width: $size__site-main-nested;
		margin-bottom: 10px;
		min-height: 200px;
		@include transition-duration(0.5s);

		.site-name {
			@include inblock(30%);
			padding: 40px 30px 0 40px;
			text-transform: uppercase;


			a {
				font: $font-size-4 $light;
				text-decoration: none;
				color: $black;
			}
		}

		.event-title {
			@include inblock(40%);
			margin-left: -4px;
			margin-top: 50px;
			padding-right: 40px;
			font: $font-size-2 $bold;

			a {
				color: $black;
				text-decoration: none;
			}
		}

		.event-date {
			@include inblock(30%);
			margin-left: -4px;
			min-height: 200px;

			&::before {
				content: "\00a0";
				position: relative;
				display: block;
				width: 100%;
				height: 200px;
				background-color: $warm-gray;
			}

			time {
				font: $font-size-2 $bold;
				position: absolute;
				margin-top: -150px;
				margin-left: 12%;
			}
		}

		&:hover {
			width: 100%;
			background-color: $black-transparent;
			@include transition-duration(0.5s);

			.site-name a {
				color: $warm-gray;
				@include transition-duration(0.25s);

				&:hover {
					color: $black;
					@include transition-duration(0.25s);
				}
			}

			.event-title a {
				color: $warm-gray;
				@include transition-duration(0.25s);

				&:hover {
					color: $black;
					@include transition-duration(0.25s);
				}
			}

			.event-date {
				&::before {
					background-color: $black-transparent-light;
				}

				time {
					color: $warm-gray;
				}
			}
		}
	}

}