.entry-meta.location {
	a {
		font: $font_size-4 $bold;
		color: $black;
		text-transform: uppercase;

		&:hover {
			color: $black-transparent-light;
		}
	}
}

.site-info::before, #details::before {
	position: relative;
	display: block;
	width: 100%;
}



.single-exhibition {

	#primary: {
		width: 100%;
	}

	#main {
		width: 100%;
		left: 0;
		position: relative;
	}

	article {
		width: 100%;
		margin-top: 75px;
		border: none;
		padding-left: 50px;

		.entry-header {
			width: 55%;

			.entry-title {
				font-size: $font_size-6;
			}
			
			.entry-meta {
				font: $font_size-2 $mono;
				margin-top: 30px;
			}
		}

		.description {
			@include inblock(60%);
			padding-right: 5%;
		}

		.content-side {
			@include inblock(40%);
			margin-left: -5px;
			margin-top: -100px;
			padding-left: 0;

			figure {
				margin: 0 0 0 20%;
				width: 80%;

				figcaption {
					display: none;
				}
			}
		}

		#details {
			width: 75%;
			margin: -70% 0 0 5%;

			h4 {
				margin: 25px 0 5px;
			}

			.address, .hours {
				font: 14px $mono;
				white-space: nowrap;
			}
		}

		.entry-footer {
			border-top: 1px dotted $black-transparent;
			width: 100%;
			padding-top: 15px;
			margin-top: 30px;
			clear: both;

			.meta a {
				
				label {
					text-transform: lowercase;
				}
				
			}

		}

		&.site_category-dorchester-art-housing-collaborative {
			
			#details::before {
				content: url('img/graphic_da-hc.svg');
			}

			.entry-title {
				color: $color__da-hc;
			}
			
		}

		&.site_category-black-cinema-house {
			
			#details::before {
				content: url('img/graphic_bch.svg');
			}

			.entry-title {
				color: $color__bch;
			}

		}

		&.site_category-stony-island-arts-bank {
			
			#details::before {
				content: url('img/graphic_siab.svg');
			}

			.entry-title {
				color: $color__siab;
			}
			
		}

		&.site_category-listening-house {
	
			#details::before {
				content: url('img/graphic_lh.svg');
			}

			.entry-title {
				color: $color__dorchester;
			}
			
		}

		&.site_category-archive-house {
			
			#details::before {
				content: url('img/graphic_ah.svg');
			}

			.entry-title {
				color: $color__dorchester;
			}
			
		}
	}

	.post-navigation {
		border-top: 1px solid $black-transparent;
		width: $size__site-main-nested;
	}
}

@media (max-width: 1200px) {
	.single-exhibition  {
		#main {
			width: 100%;
			position: relative;
			left: 0;
			margin-top: 60px;
		}
	}
}