.home {

	#primary {

		#main {
			width: 100%;
			padding-left: 0;
		}
	}

	img.alignright, figure.alignright {
	    max-width: 50%;
	    float: right;
	    margin: 0 0 75px 0;
	    padding: 0 0 2em 4em;
	}

	img.alignleft, figure.alignleft {
	    max-width: 50%;
	    float: left;
	    margin: 0 0 75px 0;
	    padding: 0 4em 2em 0;
	}

	section {
		margin-bottom: 50px;
		clear: both;

		p, li {
			font: normal $font_size-2 $bold;
			letter-spacing: 0.05em;
		}

		h2 {
			background-size: cover;
			width: 100%;
			height: 0;
			padding-top: 63.54%;
			background-position: center center;
			display: block;
			text-indent: 100%;
		    white-space: nowrap;
		    overflow: hidden;
		    margin-top: 0;
		    margin-bottom: 75px;
		} 
	}

	section#mission {

		h2 {
			background-image: url('img/home-mission.jpg');
		}

		h3 {
			font: $font_size-5 $regular;
			text-transform: uppercase;
			margin: 0 8.83%;
			padding-right: 4%;
			width: 41.667%;
		}

		p {
			margin: 30px 8.83%;
			padding-right: 4%;
			width: 41.667%;

			&::before {
				@include rule(3px, $black);
			}
		}


	}

	section#how {

		h2 {
			background-image: url('img/home-how.jpg');
		}
		
		ol {
			margin-left: 4%;

			&::before {
				@include rule(3px, $black);
			}

			li {
				width: 20%;
				float: left;
				margin: 0 6% 20px 0;
				padding-left: 0;

				&:first-child {
					margin-right: 24%;
				}
			}

		}
	}

	section#theory {

		h2 {
			background-image: url('img/home-theory.jpg');
		}

		p {
			font: $font_size-5 $regular;
			text-transform: uppercase;
			@include inblock(45%);
			margin-top: 0;

			&::before {
				@include rule(3px, $black);
			}
		}

		ol {
			@include inblock(40%);
			margin-left: 10%;
		}
		
	}

	section#values {

		h2 {
			background-image: url('img/home-values.jpg');
		}
		
		ol {

			&::before {
				@include rule(3px, $black);
			}

			li {
				float: left;
				margin-right: 50px;
				padding-left: 0;
			}
		}

		img {
			width: 50%;
			margin: 0 auto;
		}
	}

	section#partners {

		h2 {
			background-image: url('img/home-partners.jpg');
		}

		ol	{
			margin-left: 8.83%;
			width: 41.667%;
			margin-top: 30px;

			&::before {
				@include rule(3px, $black);
			}

			li {
				padding-left: 0;
			}
		}
		
	}

	.site-footer {
		margin-top: 0;
	}

}