.single-site {

	article.site {

		header.site-header {
			@include inblock (25%);
			vertical-align: bottom;
			padding-right: 30px;
			position: relative;
			z-index: 3;

			.entry-meta.location {
				font: 14px $mono;
			}

			.entry-title {
				margin: 20px 0 0 0;
				line-height: 1.2em;
				text-transform: uppercase;
				font-size: $font_size-4;
			}
		}

		#site-gallery {
			@include inblock (75%);
			vertical-align: bottom;
			margin-left: -5px;
			margin-bottom: 0;

			&::before {
				position: absolute;
				display: block;
				width: 50%;
				max-width: 400px;
				margin: 200px 0 0 -20%;
				z-index: 2;
				pointer-events: none;
			}
		}

		.single-image {
			@include inblock (75%);
			vertical-align: bottom;
			margin: 60px 0 0 -5px;

			figure {
				width: 100%;
				height: 450px;
				background-size: cover;
				background-repeat: no-repeat;
				margin: 0;

				figcaption {
					width: 100%;
					font: $font_size-1 $mono;
					margin-top: -30px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					padding: 0 100px 10px 0;

					&:hover {
						background-color: $warm-gray;
						overflow: visible;
						white-space: normal;
					}
				}
			}

			&::before {
				position: absolute;
				display: block;
				width: 50%;
				max-width: 400px;
				margin: 200px 0 0 -20%;
				z-index: 2;
				pointer-events: none;
			}
		}

		#no-results {
			display: none;
		}

		.main-content {
			padding: 0 0 0 25%;
			margin-bottom: 50px;
			position: relative;
			z-index: 3;

			.description {
				@include inblock(65%);

				p {
					margin-top: 0;
				}
			}

			#details {
				@include inblock(35%);
				margin-left: -5px;
				padding: 0 5%;
			}
		}

		&.site_category-dorchester-art-housing-collaborative {
			
			#site-gallery::before {
				content: url('img/graphic_da-hc.svg');
			}

		}

		&.site_category-black-cinema-house {
			
			#site-gallery::before {
				content: url('img/graphic_bch.svg');
			}

		}

		&.site_category-stony-island-arts-bank {
			
			#site-gallery::before {
				content: url('img/graphic_siab.svg');
			}

		}

		&.site_category-listening-house {
			
			#site-gallery::before {
				content: url('img/graphic_lh.svg');

			}

		}

		&.site_category-archive-house {
			
			#site-gallery::before {
				content: url('img/graphic_ah.svg');
				margin: 200px 0 0 -28%;
			}

		}

		section > h2, .upcoming-events h2, .past-events h2 {
			display: inline-block;
			margin-bottom: 20px;
			font: normal $font_size-2 $bold;
		}

		.site-cat-link {
			display: inline-block;
			a {
				border: none;
				
				&:hover {
					background-color: transparent;
					color: $black-transparent;
				}
			}
		}

		.exhibitions {
			margin-left: $size__left-margin;
			margin-top: 50px;
			margin-bottom: 50px;


			article.exhibition {
				border: none;
				width: 100%;
				margin-bottom: 0;

				.single-image {
					margin: 0 0 0 10%;
				}
			}

			.entry-title {
				font-size: $font_size-5;
			}

			.entry-content {
				margin-top: 0;
			}
		}

		.events {
			width: $size__site-main-nested;
			margin-left: $size__left-margin;
			margin-top: 50px;
			margin-bottom: 50px;

			.upcoming-events {
				@include inblock(66%);

				article {
					width: 85%;
					@include transition-duration(0.5s);
					background-size: cover;
					margin: 0 0 10px 0;

					.event-info {
						background-color: $black-transparent;
						padding: 15px 30px; 

						.entry-title {
							line-height: 1.2em;
							margin-top: 10px;

							a {
								font: $font_size-3 $regular;
								color: $warm-gray;

								&:hover {
									color: $white-transparent;
								}
							}
						}

						.event-date {
							color: $warm-gray;
						}
					}

					&:hover {
						width: 95%;
						@include transition-duration(0.5s);

						.event-info {
							background-color: $black-transparent-opaque;
						}
					}
				}

			}

			.past-events {
				@include inblock(75%);
				margin-left: -5px;

				article {
					.event-date {
						@include inblock(20%);
						font: $font_size-3 $light;
						border-top: 1px solid $black-transparent-light;
						margin-right: 5%;
						padding: 15px 0 0 0;
					}

					.event-title {
						@include inblock(75%);
						margin-left: -5px;
						margin-top: 0;
						border-top: 1px solid $white;
						line-height: 1em;
						padding: 10px 5px;

						a {
							font: normal $font_size-2 $bold;
							@include heading-link();
						}
					}
				}
			}

			.upcoming-events ~ .past-events {
				width: 33%;

				article {
					.event-date {
						text-align: left;
					}
				}
			}
		}

		.posts {
			width: $size__site-main-nested;
			margin-top: 60px;
			position: relative;
			left: 0;
			margin-left: $size__left-margin;

			article {
				border-bottom: 1px solid $white;
				padding: 20px 0;

				.entry-header {
					@include inblock(40%);


					.entry-title {
						@include inblock(60%);
						border: none;
						padding-right: 5%;
						line-height: 1em;
						margin-top: -7px;

						a {
							font: $font_size-4 $regular;
							@include heading-link();
						}
					}

					.entry-meta {
						@include inblock(40%);
						margin-left: -5px;
						text-align: center;
					}


				}

				.entry-content {
					@include inblock(60%);
					margin-left: -5px;
					margin-top: 0;

					p {
						margin-top: 0;
					}
				}

				&:first-of-type {
					border-top: 1px solid $black;
				}

			}
		}

		.entry-footer {
			margin-left: $size__left-margin;
			width: $size__site-main-nested;
		}
	}

	.post-navigation {
		width: $size__site-main-nested;
		position: relative;
		left: $size__left-margin;
		margin-top: 100px;
	}
		
}

@media (max-width: 1200px) {
	.single-site {
		article.site {
			.main-content {
				.description {
					width: 90%;
				}

				#details {
					@include clear-inblock();
					margin-top: 2em;
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.single-site {
		article.site {
			.exhibitions, .events, .posts {
				margin-left: 0;
				width: $size__site-main-center-2;
			}
		}

		.post-navigation {
			left: 0;
			width: $size__site-main-center-2;		
		}
	}
}