.stony-island-arts-bank #masthead .site-branding {

	.site-title {
		background-image: url('img/logo-siab_a.svg');
	}

	&:hover .site-title {
		background-image: url('img/logo-foundation_b.svg');
	}

}

.dorchester-art-housing-collaborative #masthead .site-branding {

	.site-title {
		background-image: url('img/logo-da-hc_a.svg');
	}

	&:hover .site-title {
		background-image: url('img/logo-foundation_b.svg');
	}

}

.archive-house #masthead .site-branding {

	.site-title {
		background-image: url('img/logo-ah_a.svg');
	}

	&:hover .site-title {
		background-image: url('img/logo-foundation_b.svg');
	}

}


.listening-house #masthead .site-branding {

	.site-title {
		background-image: url('img/logo-lh_a.svg');
	}

	&:hover .site-title {
		background-image: url('img/logo-foundation_b.svg');
	}

}


.black-cinema-house #masthead .site-branding {

	.site-title {
		background-image: url('img/logo-bch_a.svg');
	}

	&:hover .site-title {
		background-image: url('img/logo-foundation_b.svg');
	}

}




.single-site {

	article.site {
		margin-top: 50px;

		header.site-header {
			@include inblock (30%);
			vertical-align: bottom;
			padding-right: 5%;
			position: relative;
			z-index: 1;

			.entry-meta.location {
				font: 14px $mono;
			}

			.entry-title {
				margin: 20px 0 0 0;
				line-height: 1.2em;
				text-transform: uppercase;
				font-size: $font_size-4;
			}
		}

		.site-image {
			@include inblock (70%);
			height: 450px;
			vertical-align: bottom;
			margin-left: -5px;
			background-size: cover;
			background-repeat: no-repeat;

			&::after {
				position: absolute;
				display: block;
				width: 40%;
				max-width: 330px;
				margin: 200px 0 0 -200px;
				z-index: 0;
			}
		}

		.main-content {
			padding: 0 0 0 30%;
			position: relative;
			z-index: 1;

			.description {
				@include inblock(65%);
			}

			#details {
				@include inblock(35%);
				margin-left: -5px;
				padding: 0 5%;
			}
		}

		&.site_category-dorchester-art-housing-collaborative {
			
			.site-image::after {
				content: url('img/graphic_da-hc.svg');
			}

		}

		&.site_category-black-cinema-house {
			
			.site-image::after {
				content: url('img/graphic_bch.svg');
			}

		}

		&.site_category-stony-island-arts-bank {
			
			.site-image::after {
				content: url('img/graphic_siab.svg');
			}

		}

		&.site_category-listening-house {
			
			.site-image::after {
				content: url('img/graphic_lh.svg');
			}

		}

		&.site_category-archive-house {
			
			.site-image::after {
				content: url('img/graphic_ah.svg');
			}

		}

		.exhibitions {
			margin-left: $align__site-3;
			margin-top: 100px;

			h2 {
				font-size: $font_size-2;
			}

			article.exhibition {
				border: none;
				width: 100%;
			}

			.entry-title {
				font-size: $font_size-5;
			}

			.entry-content {
				margin-top: 0;
			}
		}

		.events {
			width: $size__site-main-nested;
			margin-left: 100px;

			h2 {
				font-size: $font_size-2;
				margin-bottom: 20px;
			}

			.upcoming-events {
				@include inblock(66%);

				article {
					width: 85%;
					@include transition-duration(0.5s);
					background-size: cover;

					.event-info {
						background-color: $black-transparent;
						padding: 15px 30px; 

						.entry-title {
							line-height: 1.2em;

							a {
								font: $font_size-3 $regular;
								color: $warm-gray;

								&:hover {
									color: $white-transparent;
								}
							}
						}

						.event-date {
							color: $warm-gray;
						}
					}

					&:hover {
						width: 90%;
						@include transition-duration(0.5s);

						.event-info {
							background-color: $black-transparent-opaque;
						}
					}
				}
			}

			.past-events {
				@include inblock(33%);
				margin-left: -5px;

				article {
					.event-date {
						@include inblock(20%);
						font: $font_size-3 $light;
						border-top: 1px solid $black-transparent-light;
						margin-right: 5%;
						padding: 5px;
						text-align: center;
					}

					.event-title {
						@include inblock(75%);
						margin-left: -5px;
						margin-top: 0;
						border-top: 1px solid $white;
						line-height: 1.2em;
						padding: 10px 5px;

						a {
							font: $font_size-2 $bold;
							color: $black;
						}
					}
				}
			}
		}

		.posts {
			width: $size__site-main-nested;
			margin-top: 60px;
			padding-right: 25%;
			margin-left: 100px;

			h2 {
				font-size: $font_size-2;
				margin-top: 0;
				border-bottom: 1px solid $black;
			}

			article {
				border-bottom: 1px solid $white;
				padding: 20px 0;

				.entry-header {
					@include inblock(40%);


					.entry-title {
						@include inblock(60%);
						border: none;
						padding-right: 5%;

						a {
							font: $font_size-4 $regular;
							color: $black;
						}
					}

					.entry-meta {
						@include inblock(40%);
						margin-left: -5px;
					}


				}

				.entry-content {
					@include inblock(60%);
					margin-left: -5px;
					margin-top: 0;

					p {
						margin-top: 0;
					}
				}

				&:last-child {
					border-bottom: 1px solid $black;
				}
			}
		}
	}

	.post-navigation {
		display: none;
	}
		
}