
.page-template-default, .single-post {

	#primary > header {
		position: relative;
		width: $size__site-main-full;	
		padding-left: $align__site-3;

		.entry-title {
			margin: 0;
			padding: 50px 0 0 0;
		}
	}

	img.alignright, figure.alignright{
		margin: 0 (-$size__navigation) 0 0;
		max-width: 70%;
	}

	article {
		position: relative;
		width: $size__site-main-full;	
		padding-left: $align__site-3;
		margin-top: 0;

		.entry-header {
			margin: 0 0 0 0;
			padding: 50px 0 0 0;

			.entry-title {
				margin: 0 0 0 -2px;

				a {
					color: $black;
					font-size: $font_size-6;
				}
			}

			.entry-meta {
				padding: 2em 0 0.5em 0;
			}

			.site-name {
				font: $font_size-2 $mono;
				padding-top: 0.5em;
			}

			.entry-meta time {
				font: $font_size-3 $mono;
			}
		}

		.entry-content {
			margin-top: 30px;

			h1, h2, h3, h4, h5, h6, p {
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}

	.featured-image {
		width: 30%;
		float: right;
		margin: 0 $size__left-margin 3em 3em;

		figure {
			margin: 0;
		}
	}

	.post-navigation, #comments {
		position: relative;
		width: $size__site-main-flush;	
		left: $align__site-3;
	}

	#comments {
		margin-top: 75px;
	}

	.meta a {
		label {
			text-transform: lowercase;
		}
	}

	.entry-footer {

	}

}


.single-post {
	img.alignleft, figure.alignleft {
		margin: 0 0 0 (-$size__subnavigation);
		max-width: 70%;
	}

	.entry-footer {
		border-top: 1px solid $black-transparent;
		padding-top: 25px;
		margin-top: 40px;

		span, .meta {
			display: inline-block;
		}

		.meta {
		}

		.edit-link {
			display: block;
		}
	}
}

.blog, .category, .tag, .tax-site_category {

	#primary {
		width: $size__site-main-full;	
		left: $align__site-2;
	}

	#main {
		margin-top: 120px;
		width: $size__site-main-center-2;
	}

	article {
		padding: 20px 0;
		border-bottom: 1px solid $white;

		&:last-of-type {
			border-bottom: 1px solid $black;
		}
	}

	.entry-header {
		@include inblock(40%);
		padding-right: 5%;

		.site-name {
			display: none;
			padding-right: 5%;
			font: normal $font_size-1 $bold;

			.meta a {
				label {
					text-transform: lowercase;
				}
			}

		}

		.entry-title {
			@include inblock(80%);
			margin-left: 0;
			margin-top: -6px;
			line-height: 1.1em;
			padding-right: 5%;

			a {
				font: $font_size-4 $regular;
				@include heading-link();
			}
		}

		.entry-date {
			@include inblock(10%);
			margin-left: -5px;
			text-align: center;
		}
	}

	.entry-content {
		@include inblock(60%);
		margin-left: -5px;
		padding-right: 5%;
		margin-top: 0;

		p {
			margin-top: 0;
		}

	}
}

.search-results {

	#main {
		position: relative;
		left: $align__site-3;
		width: $size__site-main-nested;	
	}

	article {
		width: $size__site-main-nested;
		border-top: 1px solid $white;
		padding-bottom: 25px;

		&:first-of-type {
			margin-top: 150px;
			border: none;
		}

		.entry-title {
			line-height: 1.2em;
		}

		.comments-link {
			display: block;
		}

	}

	.posts-navigation {
		width: $size__site-main-nested;	
		position: relative;
		left: 0;
	}
}

.error404, .search-no-results {
	#primary {
		width: $size__site-main-center;	
		position: relative;
		left: $align__site-4;
	}

	#main {
		margin-top: 65px;

		.page-content {
			margin-top: 0;
		}

		h1, h2 {
			margin-top: 0;
		}
	}

	.site-footer {
		width: $size__site-main-center;	
		position: relative;
		left: $align__site-4;
		margin-top: 50px
	}

	input.search-field:focus {
		width: 100%;
	}
}

#comments {
	display: none;
}

@media (max-width: 1200px) {
	.blog, .category, .tag, .tax-site_category {
		#primary {
			width: $size__site-main-full;	
			left: $align__site-2;

		}

		#main {
			margin-top: 165px;
		}

		article {
			padding: 10px 0;

			.entry-header {
				@include clear-inblock();

				.entry-title {
					@include clear-inblock();
				}

				.entry-meta {
					margin: 20px 0;
					text-align: left;
				}

			}

			.entry-content {
				@include clear-inblock();
			}
		}

		ul.site-filter {
			width: 100%;
			left: 0;
			border-bottom: 1px solid $black-transparent;
		}
	}

	.search-results {
		article, .posts-navigation {
			width: $size__site-main-center-2;	
		}
	}
}


@media (max-width: 1024px) {
	.page-template-default, .single-post {

		#primary > header {	
			padding-left: 0;

			.entry-title {
			}
		}

		article {
			padding-left: 0;
		}
	}

	.search-results {
		#main {
			left: 0;
			width: 100%;
		}

		article, .posts-navigation {
			width: $size__site-main-center-2;
		}
	}

	.error404, .search-no-results {
		#primary {
			width: $size__site-main-full-2;	
			left: $align__site-2;
		}

		.site-footer {
			width: $size__site-main-full-2;	
			left: $align__site-2;
		}
	}
	
}