
.page-template-default, .single-post {

	

	#primary > header {
		position: relative;
		width: $size__site-main-full;	
		padding-left: $align__site-3;

		.entry-title {
			margin: 0;
			padding: 50px 0 0 0;
		}
	}

	article {
		position: relative;
		width: $size__site-main-full;	
		padding-left: $align__site-3;
		padding-right: 5%;
		margin-top: 0;

		.entry-header {
			margin: 0 0 0 0;
			padding: 50px 0 0 0;

			.entry-title {
				margin: 0;

				a {
					color: $black;
					font-size: $font_size-6;
				}
			}

			.entry-meta {
				font: $font_size-2 $mono;
				padding: 1em 0 0.5em 0;
			}
		}

		.entry-content {
			margin-top: 30px;

			h1, h2, h3, h4, h5, h6, p {
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}

	.featured-image {
		width: 30%;
		float: right;
		margin: 0 $size__left-margin 3em 3em;

		figure {
			margin: 0;
		}
	}

	.post-navigation, #comments {
		position: relative;
		width: $size__site-main-flush;	
		left: $align__site-3;
	}

	#comments {
		margin-top: 75px;
	}

	.meta a {
		label {
			text-transform: lowercase;
		}
	}

	.entry-footer {

	}

}

.blog {

	#primary {
		width: $size__site-main-full;	
		left: $align__site-2;
	}

	#main {
		margin-top: 100px;
		width: $size__site-main-nested;
	}

	article {
		padding: 20px 0;
		border-bottom: 1px solid $white;

		&:last-of-type {
			border-bottom: 1px solid $black;
		}
	}

	.entry-header {
		@include inblock(40%);
		padding-right: 5%;

		.site-name {
			@include inblock(40%);
			padding-right: 5%;
			font: $font_size-1 $bold;

			.meta a {
				label {
					text-transform: lowercase;
				}
			}

		}

		.entry-title {
			@include inblock(50%);
			margin-left: -5px;
			margin-top: -6px;
			line-height: 1.1em;
			padding-right: 5%;

			a {
				font: $font_size-4 $regular;
				@include heading-link();
			}
		}

		.entry-date {
			@include inblock(10%);
			margin-left: -5px;
			text-align: center;
		}
	}

	.entry-content {
		@include inblock(60%);
		margin-left: -5px;
		padding-right: 5%;
		margin-top: 0;

		p {
			margin-top: 0;
		}

	}
}

.search-results {
	.page-header {
		position: fixed;
		background-color: $warm-gray;
		border-bottom: 1px solid $black-transparent;
		width: $size__site-main-flush;	
		left: $align__site-4;
		z-index: 2;
		top: 0;
		padding: 65px 0 10px 0;

		h1 {
			font: $font_size-3 $mono;
		}
	}

	article {
		width: $size__site-main-flush;	
		position: relative;
		left: $align__site-3;
		border-top: 1px solid $white;
		padding-bottom: 25px;

		&:first-of-type {
			margin-top: 150px;
			border: none;
		}

		.entry-title {
			line-height: 1.2em;
		}

		.comments-link {
			display: block;
		}

		a.read-more {
			font: $font_size-2 $bold;
			color: $black;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.posts-navigation {
		width: $size__site-main-flush;	
		position: relative;
		left: $align__site-3;
	}
}

.error404 {
	#main {
		width: $size__site-main-flush;	
		position: relative;
		left: $align__site-3;
	}

	.site-footer {
		width: $size__site-main-center;	
		position: relative;
		left: $align__site-4;
	}


}

@media (max-width: 1200px) {
	.blog {
		#primary {
			left: $align__site-2;
			width: $size__site-main-center-2;	
		}
	}
}


@media (max-width: 1024px) {
	.page-template-default, .single-post {

		#primary > header {	
			padding-left: 0;

			.entry-title {
			}
		}

		article {
			padding-left: 0;
		}
	}

	.blog {
		#primary {
			width: $size__site-main-full;	
			left: $align__site-2;

		}

		#main {
			margin-top: 45px;
			width: 100%;
		}

		article {
			padding: 10px 0;
			width: $size__site-main-nested;

			.entry-header {
				@include clear-inblock();

				.entry-title {
					@include clear-inblock();
				}

				.entry-meta {
					@include clear-inblock();
					margin: 20px 0;
					text-align: left;
				}

			}

			.entry-content {
				@include clear-inblock();
			}
		}

		ul.site-filter {
			width: 100%;
			left: 0;
			border-bottom: 1px solid $black-transparent;
		}
	}
}