.archive, .blog, .search-results {
	#primary > .page-header {
		position: fixed;
		top: 0;
		left: $align__site-4;
		width: $size__site-main-flush;
		background-color: $warm-gray;
		z-index: 4;
		border-bottom: 1px solid $black-transparent;
	}
}

.post-type-archive-site {
	#primary > .page-header {
		display: none;
	}
}


.context-header {

	padding: 50px 0 8px 0;
	border-bottom: 1px dotted $black-transparent-light;


	h1.page-title {
		font-size: $font_size-4;
		display: inline-block;
		margin: 0;
		padding: 0 30px 0 0;
		text-transform: uppercase;
		line-height: 1em;
		

		label {
			font: $font_size-2 $regular;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			padding-left: 2px;

			&.all-entries {

			}			

			&.current-cat-tag {
				font: normal $font_size-2 $bold;
			}
		}

		span {
			font: normal $font_size-2 $bold;
		}
	}

	a {
		display: inline-block;
		font: $font_size-2 $regular;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: $black-transparent-light;

		&:hover {
			color: $black;
		}
	}
}



.blog, .category, .tag, .tax-site_category {
	#primary > .page-header {
		left: $align__site-2;
		width: $size__site-main-full;
		padding-right: 0;
		margin-left: $size__left-margin;

		.context-header {
			border: none;

		}

		.filters {
			padding: 0;
		}
	}
}


.tax-event_category, .tax-event_tag, .search-results {
	.context-header {
		padding-top: 55px;
		border: none;

		h1.page-title {
			font: $font_size-2 $regular;
			letter-spacing: 0.1em;
			line-height: $font_size-4;

			label {
				padding-left: 0;
			}
		}
	}	
}



.filters {	
	padding: 20px 0 8px 0;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	ul.event-month-filter {
		@include inblock($size__site-main-nested);

		li {
			font: $font_size-2 $regular;
			@include inblock(8.3%);
			vertical-align: bottom;
			margin-right: -4px;
			padding: 0;
			line-height: 20px;

			&.active {
				font: normal $font_size-4 $regular;
				line-height: 24px;
				margin-left: -5px;
				margin-right: 1px;

				a {
					color: $black;	
				}
			}

			&:first-child.active {
				margin-left: 0;
			}
		}
	}	

	.event-count {
		@include inblock($size__right-margin);
		vertical-align: bottom;
		margin-left: -4px;
		font: normal $font_size-5 $light;
		line-height: 19px;

		label {
			font: $font_size-2 $regular;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
	}
}




ul.event-year-filter, ul.exhibition-filter {
	width: $size__subnavigation;
	position: fixed;
	left: $size__navigation;
	top: 185px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	
	li {
		display: block;
		padding:  0 0 15px 0;
		line-height: 20px;
		font: normal $font_size-1 $bold;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		
		a {
		}

		&.active {
			margin-left: -1px;
			line-height: 24px;
			font: normal $font_size-4 $regular;

			a {
				color: $black;
			}
		}
	}
}

.single-event {
	#primary > .page-header {
		position: relative;
		width: $size__site-main-nested;
		left: $align__site-3;
		border-bottom: 1px solid $black-transparent;
	}


	.filters {	
		ul.event-month-filter{
			width: $size__site-main-center-2;

			li {
				a {
					color: $black-transparent-light;

					&:hover {
						color: $black;
					}

				}

				&.active a {
					color: $black-transparent;

					&:hover {
						color: $black;
					}
				}
			}
		}
	}

	ul.event-year-filter  {
		li {
			a {
				color: $black-transparent-light;

				&:hover {
					color: $black;
				}
			}

			&.active a {
				color: $black-transparent;

				&:hover {
					color: $black;
				}
			}
		}		
	}
}

.post-type-archive-exhibition{
	.context-header {
		border: none;
	}
	.filters {
		padding: 0;
	}
}

.single-exhibition {
	#primary > .page-header {
		margin-left: $size__left-margin;
		border-bottom: 1px solid $black-transparent;
	}


	ul.exhibition-filter {
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
		padding-right: $size__left-margin;
		@include flex();
		@include justify-content(space-between);
		li {
			padding-bottom: 0;
		}
	}

	.context-header {
		border-bottom: 1px dotted $black-transparent-light;
	}

	.filters {
		padding: 20px 0 8px 0;

		ul.exhibition-filter {
			li {
				padding-top: 5px;

				a {

				}

				&.active {
					line-height: 25px;
					padding-top: 0;
				}
			}
		}
	}
}

.single-post {
	#primary > .page-header {
		border-bottom: 1px solid $black-transparent;
	}

	.context-header {
		border: none;
	}
}

@media (max-width: 1200px) {
	.blog, .category, .tag, .tax-site_category {
		#primary > .page-header {
			margin-left: 0;
		}
	}
}


@media (max-width: 1024px) {

	.archive, .blog, .search-results {
		#primary > .page-header {
			left: $align__site-2;
			width: $size__site-main-full;
		}
	}

	.single-event {
		#primary > .page-header {
			left: 0;
			width: 100%;
		}
	}

	.single-exhibition {
		#primary > .page-header {
			margin-left: 0;
		}
	}

	ul.exhibition-filter {
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
		padding-right: $size__left-margin;
		@include flex();
		@include justify-content(space-between);

		li {
			padding-bottom: 0;
		}
	}

	ul.event-year-filter {
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 4;
		padding: 12px 0;
		border-bottom: 1px dotted $black-transparent-light;

		li {
			@include inblock(auto);
			padding: 0 20px 0 0;
			vertical-align: bottom;
			line-height: 24px;

			&.active {
				a {
					font-size: $font_size-2;
				}
			}
		}
	}

	.single-event ul.event-year-filter  {

	}

	.post-type-archive-exhibition{
		.context-header {
			border-bottom: 1px dotted $black-transparent-light;
		}

		.filters {
			padding: 20px 0 8px 0;

			ul.exhibition-filter {
				li {
					padding-top: 5px;

					a {

					}

					&.active {
						line-height: 25px;
						padding-top: 0;
					}
				}
			}
		}
	}
}


