.filters {
	height: 0;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		


		li {
			font: $font_size-1 $regular;
			padding-right: 25px;
			display: inline-block;
			padding: 0 20px 0 0;

			&.active a {
				font-family: $bold;
				color: $black;
				font-weight: normal;
			}
		}
	}
}

.post-type-archive-event, .single-event {
	.filters {
		position: fixed;
		width: $size__site-main-flush;
		left: $align__site-4;
		background-color: $warm-gray;
		top: 0;
		height: auto;
		padding: 105px 0 0 0;
		margin: 0;
		z-index: 4;
		border-bottom: 1px solid $black-transparent-light;	

		ul.event-month-filter {
			width: 100%;
			margin-bottom: 10px;

			li {
				font: $font_size-3 $regular;
				@include inblock(8.3%);
				margin-right: -4px;
				padding-top: 0px;
			}
		}	
	}
}

.blog, .category, .tag {
	ul.site-filter {
		position: fixed;
		width: $size__site-main-full;
		left: $align__site-2;
		background-color: $warm-gray;
		top: 0;
		height: auto;
		padding: 55px 0 10px 0;
		margin: 0;
		z-index: 4;
		border-bottom: 1px solid $black-transparent-light;	


		li {
			font: $font_size-1 $regular;
			padding-right: 25px;
			display: inline-block;
			padding: 0 20px 0 0;

		}

	}
}

ul.event-year-filter, ul.exhibition-filter {
	width: $size__subnavigation;
	position: fixed;
	left: $size__navigation;
	top: 185px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	
	li {
		font-size: $font_size-2;
		display: block;
		padding:  0 0 15px 0;
		
		a {
			text-decoration: none;
			font: normal $font_size-1 $bold;
			letter-spacing: 0.05em;
			text-transform: uppercase;
		}

		&.active {
			a {
				font: normal $font_size-3 $bold;
				color: $black;
			}
		}
	}
}

@media (max-width: 1200px) {

}


@media (max-width: 1200px) {

}

@media (max-width: 1024px) {

	.post-type-archive-event, .single-event {
		.filters {
			width: $size__site-main-full;
			left: $align__site-2;
		}
	}

	ul.exhibition-filter {
		width: $size__site-main-full;
		top: 0;
		background-color: $warm-gray;
		padding-top: 22px;
		border-bottom: 1px solid $black-transparent-light;
		z-index: 1;
		padding-right: 55px;
		@include flex();
		@include justify-content(space-between);

		li {
			padding-bottom: 12px;
		}
	}

	ul.event-year-filter {
		width: 100%;
		top: 55px;
		z-index: 4;

		li {
			@include inblock(auto);
			padding: 0 20px 0 0;

			&.active {
				a {
					font-size: $font_size-2;
				}
			}
		}
	}

	.single-event ul.event-year-filter  {
		position: absolute;
		left: 0;
	}

	.blog, .category, .tag {
		ul.site-filter {
			position: relative;
			left: 0;
			width: 100%;
			padding-top: 0;
		}
	}

}


