a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.entry-content {

	a {
		color: $black;
		border-bottom: 3px solid $white;

		&:hover {
			text-decoration: none;
			background-color: $white;
		}
	}

	h1,h2,h3,h4,h5,h6 {
		a { 
			border-bottom: none;

			&:hover {
				background-color: transparent;
			}		
		}
	}

	.entry-meta {
		a {
			border-bottom: none;

			&:hover {
				text-decoration: none;
				background-color: transparent;
			}
		}
	}
}