.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin-top: 150px;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		position: relative;
		text-transform: uppercase;
		padding-bottom: 20px;
		padding-left: 0;

		&:hover > a,
		&.focus > a {
			@include transition-duration(0.25s);
		}
	}
	a {
		display: block;
		text-decoration: none;
		font: $font_size-1 $bold;
		@include transition-duration(0.25s);
		letter-spacing: 0.05em;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}


.menu-sites {
	display:none;

	#menu-sites-list {
		list-style-type: none;
		padding: 10px 0 50px 55px;

		li {
			padding: 0;
			a {
				display: block;
				min-width: 300px;
				height: 80px;
				background-repeat: no-repeat;
				text-indent: 100%;
			    white-space: nowrap;
			    overflow: hidden;
			    margin-bottom: 35px;
			    opacity: 0.5;
			    @include transition-duration(0.25s);

			    &:hover {
			    	opacity: 1;
			    	@include transition-duration(0.25s);
			    }
			}
		}

		li#menu-item-509 a, li#menu-item-494 a  {
			background-image: url('img/logo_siab.svg');
		}

		li#menu-item-510 a, li#menu-item-495 a  {
			background-image: url('img/logo_archive_house.svg');
		}

		li#menu-item-511 a, li#menu-item-496 a  {
			background-image: url('img/logo_da_hc.svg');
		}

		li#menu-item-512 a, li#menu-item-497 a  {
			background-image: url('img/logo_bch.svg');
		}
	}
}


.site-branding:hover .menu-sites {
	display: block;
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

#secondary {
	.main-navigation {

		li {
			float: initial;
			position: initial;
		}

	}
}
