.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin-top: 100px;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		position: relative;
		text-transform: uppercase;
		padding-bottom: 15px;
		padding-left: 0;

		&:hover > a,
		&.focus > a {
			@include transition-duration(0.25s);
		}

		&.menu-break {
			margin-top: 50px;

			&::before {
				@include rule(2px, $black-transparent);
				margin-top: -25px;
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
		font: normal $font_size-1 $bold;
		@include transition-duration(0.25s);
		letter-spacing: 0.05em;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		font-family: $bold;
		color: $black;
		font-weight: normal;
	}



	.sub-menu {
		display: none;
	}

	
}

.page-template-default {
	.main-navigation {
		.current-menu-item, .current-menu-ancestor {
			.sub-menu {
				display: block;
				width: $size__subnavigation;
				position: fixed;
				left: $align__site-2;
				top: 208px;
				margin: 0;
				padding: 0 40px 0 0;

				&::before {
					@include rule(2px, $black-transparent);
				}
			}
		}
	}
}

.menu-sites {
	display:none;

	#menu-sites-list {
		list-style-type: none;
		padding: 10px 0 50px $size__left-margin;

		li {
			display: block;
			width: 275px;
			height: 80px;
			background-image: url('img/logo.svg');
			background-repeat: no-repeat;
			background-position: 0;
			background-size: contain;
			padding-left: 0;
			padding-top: 0;
			margin: 0 0 40px 0;
			line-height: 80px;
			opacity: 0.3;
			@include transition-duration(.25s);
			
			a {
				font: $font_size-3 $regular;
				color: $white;
				text-transform: uppercase;
				letter-spacing: .025em;
				display: inline-block;
				vertical-align: middle;
				padding: 5px 0 5px 115px;
			}


			&:hover {
				opacity: 1;
				@include transition-duration(.25s);
			}

			&.current-menu-item {
				opacity: 1;
			}

			&.stony-island-arts-bank {
				background-image: url('img/logo-siab_b.svg');
			}

			&.archive-house  {
				background-image: url('img/logo-ah_b.svg');
			}

			&.listening-house  {
				background-image: url('img/logo-lh_b.svg');
			}

			&.dorchester-art-housing-collaborative {
				background-image: url('img/logo-da-hc_b.svg');
			}

			&.black-cinema-house {
				background-image: url('img/logo-bch_b.svg');
			}

		}


	}
}


.site-branding:hover .menu-sites {
	display: block;
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 900px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

#secondary {
	.main-navigation {

		li {
			float: initial;
			position: initial;
		}

	}
}

@media (max-width: 1024px) {
	.page-template-default {
		.main-navigation {
			.current-menu-item, .current-menu-ancestor {
				.sub-menu {
					position: relative;
					left: 0;
					top: 0;
					width: 100%;
					margin: 30px 0 20px 0;

					&::before {
						display: none;
					}
				}
			}
		}
	}
}