.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.single-post &, .search-results &, .single-site & {
		border-top: 1px solid $black-transparent-light;
		padding-top: 15px;
	}

	& .nav-previous {
		float: left;
		width: 45%;
		min-height: 30px;
		background-image: url('img/arrow-left.svg');
		background-repeat: no-repeat;
		background-size: 30px 30px;
		margin-left: -30px;
		padding-left: 30px;
		padding-top: 3px;
	}

	& .nav-next {
		float: right;
		width: 45%;
		min-height: 30px;
		background-image: url('img/arrow-right.svg');
		background-repeat: no-repeat;
		background-size: 30px 30px;
		background-position: right top;
		margin-right: -30px;
		padding-right: 30px;
		padding-top: 3px;
		text-align: right;
	}
}