p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-family: $regular-i;

	b, strong {
		font-family: $bold-i;
	}
}

b, strong {
	font-family: $bold;

	dfn, cite, em, i {
		font-family: $bold-i;
	}
}

blockquote {
	padding: 0 1.5em;
	margin: 0;
	border-left: 2px solid $black;
}


address {
	margin: 0 0 1.5em;
}

span.address {
	display: block;
	font: 14px $mono;
	padding-bottom: 5px;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.edit-link a.post-edit-link, .entry-content .edit-link a.post-edit-link {
	background-color: $black; 
	display: inline-block;
	min-width: 25px;
	min-height: 25px;
	background-image: url('img/edit.svg');
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: 3px center;
	padding: 5px 10px 5px 35px;
	margin-top: 15px;
	color: $warm-gray;

	&:hover {
		color: $warm-gray;
		background-color: $black-transparent;
	}

}