h1, h2, h3, h4, h5, h6 {
	font-family: $bold;
	font-weight: normal;
	font-style: normal;
	margin: 1.5em 0 0.5em;
	line-height: 1.2em;

	dfn, cite, em, i {
		font-family: $bold-i;
		font-weight: normal;
		font-style: normal;
	}
}

h1 {
	font-size: $font-size-7;
}

h2 {
	font-size: $font-size-5;
}

h3 {
	font-size: $font-size-4;	
}

h4 {
	font-size: $font-size-3;	
}

h5 {
	font-size: $font-size-2;	
}

h6 {
	font-size: $font-size-1;
}

h4.hours-location {
	font-size: $font_size-2;
	margin-top: 0;
	margin-bottom: 12px;
}
