#masthead {
	width: $size__navigation;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: $size__left-margin 0 0 $size__left-margin;
	z-index: 6;

	& ::-webkit-scrollbar {
		width: 6px;
		background-color: transparent;
	}

	& ::-webkit-scrollbar-thumb {
		background-color: $white-transparent-light;
	}

	.site-branding {
		position: fixed;
		left: 0;
		top: 0;
		overflow-y: scroll;

		

		.site-title {
			display: block;
			width: 100px;
			height: 80px;
			background-image: url('img/logo-foundation_a.svg');
			background-repeat: no-repeat;
			background-position: 0;
			background-size: contain;
			margin: $size__left-margin 0 0 $size__left-margin;
			padding-left: 0;
			padding-top: 0;
			line-height: 80px;

			a {
				font: $font_size-3 $regular;
				text-transform: uppercase;
				display: none;
				letter-spacing: .025em;
				vertical-align: middle;
				padding: 15px 0 15px 115px;
			}
		}

		&:hover {
			bottom: 0;
			width: 400px;
			background: $black-transparent-dark;
			@include box-shadow(0 0 12px #000000);
			z-index: 5;
			@include transition-duration(0.25s);

			.site-title {
				width: 275px;
				background-image: url('img/logo-foundation_b.svg');
				opacity: 0.3;

				a {
					display: inline-block;
					color: $white;
				}

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.site-stony-island-arts-bank {

	#masthead .site-branding {

		.site-title {
			background-image: url('img/logo-siab_a.svg');
		}

		&:hover .site-title {
			background-image: url('img/logo-foundation_b.svg');
		}

	}
}

.site-dorchester-art-housing-collaborative {

	#masthead .site-branding {

		.site-title {
			background-image: url('img/logo-da-hc_a.svg');
		}

		&:hover .site-title {
			background-image: url('img/logo-foundation_b.svg');
		}

	}
}

.site-archive-house {

	#masthead .site-branding {

		.site-title {
			background-image: url('img/logo-ah_a.svg');
		}

		&:hover .site-title {
			background-image: url('img/logo-foundation_b.svg');
		}

	}
}


.site-listening-house {

	#masthead .site-branding {

		.site-title {
			background-image: url('img/logo-lh_a.svg');
		}

		&:hover .site-title {
			background-image: url('img/logo-foundation_b.svg');
		}

	}
}

.site-black-cinema-house {

	#masthead .site-branding {

		.site-title {
			background-image: url('img/logo-bch_a.svg');
		}

		&:hover .site-title {
			background-image: url('img/logo-foundation_b.svg');
		}

	}
}

#primary {
	width: $size__site-main-full;
	position: relative;
	top: 0;
	left: $align__site-2;
}

.site-footer {
	position: relative;
	padding: 15px 0;
	margin-top: 100px;
	width: $size__site-main-flush;
	left: $align__site-2;

	.widget_search {
		margin-bottom: 15px;
	}

	.widget_text {
		font: $font_size-1 $mono;
		padding-top: 10px;
		@include inblock(250px);
		padding-top: 0;
	}

	div:nth-child(2) {
		@include inblock(calc(100% - 250px));
		padding-top: 15px;
	}
}