#masthead {
	width: $size__navigation;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 25px 0 0 $size__left-margin;
	z-index: 5;

	.site-branding {
		position: fixed;
		left: 0;
		top: 0;
		overflow-y: scroll;

		.site-title a {
			display: block;
			width: 90px;
			height: 80px;
			background-image: url('img/logo.svg');
			background-repeat: no-repeat;
			background-position: 0;
			background-size: contain;
			margin: 40px 0 0 $size__left-margin;
			text-indent: 100%;
		    white-space: nowrap;
		    overflow: hidden;
		}

		&:hover {
			bottom: 0;
			width: 400px;
			background: $black-transparent-opaque;
			@include box-shadow(0 0 12px #000000);
			z-index: 5;
			@include transition-duration(0.25s);

			.site-title a {
				width: 300px;
				height: 80px;
				background-image: url('img/logo-white.svg');
				opacity: 0.5;

			    &:hover {
			    	opacity: 1;
			    }
			}
		}


	}
}

#primary {
	width: $size__site-main-full;
	position: relative;
	top: 0;
	left: $align__site-2;
}

.site-footer {
	position: relative;
	padding: 15px 0;
	margin-top: 100px;
	width: $size__site-main-flush;
	left: $align__site-2;

	.widget_search {
		margin-bottom: 15px;
	}

	.widget_text {
		font: $font_size-1 $mono;
		padding-top: 10px;
		@include inblock(250px);
		padding-top: 0;
	}

	div:nth-child(2) {
		@include inblock(calc(100% - 250px));
		padding-top: 15px;
	}
}