#masthead {
	width: $size__site-sidebar;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 25px 0 0 55px;
	z-index: 4;

	.site-branding {
		position: fixed;
		left: 0;
		top: 0;
		overflow-y: scroll;

		.site-title a {
			display: block;
			width: 90px;
			height: 80px;
			background-image: url('img/logo.svg');
			background-repeat: no-repeat;
			background-position: 0;
			background-size: contain;
			margin: 40px 0 0 55px;
			text-indent: 100%;
		    white-space: nowrap;
		    overflow: hidden;
		}

		&:hover {
			bottom: 0;
			width: 400px;
			background: $black-transparent-opaque;
			@include box-shadow(0 0 12px #000000);
			z-index: 5;
			@include transition-duration(0.25s);

			.site-title a {
				width: 300px;
				height: 80px;
				background-image: url('img/logo-white.svg');
				opacity: 0.5;

			    &:hover {
			    	opacity: 1;
			    }
			}
		}


	}
}

#primary {
	width: $size__site-main;
	position: relative;
	top: 0;
	left: $size__site-sidebar;
}

.site-footer {
	border-top: 1px solid $black;
	padding: 15px 0;
	margin-top: 100px;
	width: $size__site-main;
	margin-left: $size__site-sidebar;
}