// This file is for temporarily hiding elements 

.post-type-archive-rebuild_site {
	.site-filter, .rebuild_site-filter {
		display: none;
	}
}

.single-rebuild_site {
	.gallery {
		display: none;
	}
}

.post-filter {
	display: none;
}